<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>.
  Is a <a href="http://www.railstutorial.org/book"><em>book</em></a> and 
  <a href="http://screencasts.railstutorial.org">screencast</a> series to teach 
  web development with <a href="http://www.rubyonrails.org">Ruby on Rails</a>.
</p>